<p>Hi,</p>

<p>A new Individual Athlete has registered. Customer information is listed below</p>

<table border="0" style="width:100%;">
    <tr>
        <th>Customer Name</th>
        <th>Contact Name</th>
        <th>Contact Email</th>
        <th>Contact Phone</th>
    </tr>
    <tr>
        <td>@Model.UserName</td>
        <td>@Model.FirstName @Model.LastName</td>
        <td>@Model.Email</td>
        <td style="text-align:right;">@Model.PhoneNumber</td>
    </tr>
</table>
<br />

<p>This message is for informational purposes only. Please do not reply to this email.</p>

<p>Thank You.</p>