<p>Hi @Model.ContactFirstName @Model.ContactLastName,</p>

<p>Your account as a @Model.Category has been activated.</p>

<table border="0" style="width:100%;">
    <tr>
        <td>Login URL: </td>
        <td>@Model.LoginURL</td>
    </tr>
    <tr>
        <td>User Name: </td>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <td>Password: </td>
        <td>@Model.Password</td>
    </tr>
</table>


<p>If you have any question, please contact sales@allsportsprofitness.com</p>
<br />

<p>This message is for informational purposes only. Please do not reply to this email.</p>

<p>Thank you.</p>
<p>The StrengthTracker Team</p>