<!DOCTYPE html>

<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
	<!-- Bootstrap CSS -->
	<link href="@Url.Content("~/Scripts/mustang/css/bootstrap.min.css")" rel="stylesheet" />
	<!-- Main CSS -->
	<link href="~/Scripts/mustang/css/main.css" rel="stylesheet" id="themeSwitcher" />
    <link href="~/Scripts/mustang/css/common.css" rel="stylesheet" />
	<!-- Icomoon Icons CSS -->
	<link href="~/Scripts/mustang/fonts/icomoon/icomoon.css" rel="stylesheet" />

	<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->

	<link href="~/Content/DataTables/css/fixedColumns.dataTables.min.css" rel="stylesheet" />
	<link href="~/Content/DataTables/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/DataTables/css/fixedColumns.bootstrap.min.css" rel="stylesheet" />

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="~/Scripts/mustang/js/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="~/Scripts/mustang/js/bootstrap.min.js"></script>
	<!-- jquery ScrollUp JS -->
	@*<script src="~/Scripts/mustang/js/scrollup.min.js"></script>*@
	<!-- Theme Switcher -->
	<script src="~/Scripts/mustang/js/themeSwitcher.js"></script>
	<!-- Common JS -->
	<script src="~/Scripts/mustang/js/common.js"></script>

	<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
	<script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
	<script src="~/Scripts/DataTables/dataTables.fixedColumns.js"></script>
	<script src="~/Scripts/StrengthTracker2/KTGMobileCommon.js"></script>
    <script src="~/Scripts/underscore-min.js"></script>
    <script src="~/Scripts/persist-min.js"></script>

	<script>
        var currentExerciseSetIndex = 0;
        // global object
        var store;

     
		function GoToHome() {
			workoutGridData = null;
			window.location.href = '@Url.Action("Home", null, new { controller = "Athlete" }, Request.Url.Scheme)';
		}
		function GoToWorkoutSummary() {
			window.location.href = '@Url.Action("WorkoutSummary", null, new { controller = "Athlete" }, Request.Url.Scheme)';
		}
		function GoToViewExercise() {
			window.location.href = '@Url.Action("ViewExercise", null, new { exerciseId=1, controller = "Athlete" }, Request.Url.Scheme)';
		}
		function GoToMyWorkout() {
			window.location.href = '@Url.Action("ViewWorkout", null, new { controller = "Athlete" }, Request.Url.Scheme)';
		}
		function GoToWorkoutOverview() {
			window.location.href = '@Url.Action("WorkoutOverview", null, new {controller = "Athlete" }, Request.Url.Scheme)';
		}
		function GoToViewWorkout() {
			window.location.href = '@Url.Action("ViewWorkout", null, new { controller = "Athlete" }, Request.Url.Scheme)';
		}

        @*function GoToViewExercise() {
            var url = '@Url.Action("ViewExercise", "Athlete")?exerciseId=' + (currentExerciseSetIndex + 1);
            window.location.href = url;
        }*@

        function GoToModifyExercise() {
            var url = '@Url.Action("ModifyExercise", "Athlete")?exerciseId=' + (currentExerciseSetIndex+1);
            window.location.href = url;
		}
	</script>
</head>
<body>
    <div class="panel" style="display:none">
       
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true" style="">
            <div class="panel-body">
                <ul class="color-theme" id="themeOptions">
                    <li>
                        <a href="#" class="theme-instagram" data-theme="theme-instagram"></a>
                    </li>
                    <li>
                        <a href="#" class="theme-violet" data-theme="theme-violet"></a>
                    </li>
                    <li>
                        <a href="#" class="theme-green" data-theme="theme-green"></a>
                    </li>
                    <li>
                        <a href="#" class="theme-facebook" data-theme="theme-facebook"></a>
                    </li>
                    <li>
                        <a href="#" class="theme-maroon" data-theme="theme-maroon"></a>
                    </li>
                    <li>
                        <a href="#" class="theme-brown" data-theme="theme-brown"></a>
                    </li>
                    <li>
                        <a href="#" class="main" data-theme="main"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Loading wrapper starts -->
    <div id="loading-wrapper">
        <div id="loader">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
            <div class="line4"></div>
            <div class="line5"></div>
            <div class="line6"></div>
        </div>
    </div>
	<!-- Logo bar starts -->
	<div class="logo-bar clearfix">
		<div class="container-fluid">
			<!-- Row starts -->
			<div class="row gutter" style="padding:5px 0px 5px 0px;margin-top:10px">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h5 class="logo-title" onclick="GoToHome();" style="position:relative;float:left;color:white;font-weight:bold;font-size:20px;">StrengthTracker</h5>
					<h5 id="lblUserName" class="logo-title" style="position:relative;float:right;color:white;font-weight:bold;font-size:14px;padding-top:5px">@ViewBag.UserName</h5>
				</div>
			</div>
			<!-- Row ends -->
		</div>
	</div>
    <div>
        @RenderBody()
    </div>
    <script>
   
    // load persistent store after the DOM has loaded
      //  store = new Persist.Store('KTGMobileStore');

    </script>
</body>
</html>
